[submodule "dircolors"]
	path = dircolors
	url = git://github.com/seebi/dircolors-solarized
[submodule "config/systemd/user"]
	path = config/systemd/user
	url = git://github.com/PaBLoX-CL/systemd-user-units.git
[submodule "zprezto"]
	path = config/zsh/.zprezto
	url = git://github.com/PaBLoX-CL/prezto.git
[submodule "base16-xresources"]
	path = config/xcolors/base16
	url = https://github.com/chriskempson/base16-xresources
