[submodule "dircolors"]
	path = dircolors
	url = git://github.com/seebi/dircolors-solarized
[submodule "config/systemd/user"]
	path = config/systemd/user
	url = git://github.com/PaBLoX-CL/systemd-user-units.git
[submodule "zprezto"]
	path = zprezto
	url = git://github.com/PaBLoX-CL/prezto.git
